[submodule "external/sundials"]
	path = external/sundials
	url = git@github.com:LLNL/sundials.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
